app = 'govia'
primary_region = 'iad'

[build]
  [build.args]
    GO_VERSION = '1.25.4'

[env]
  PORT = '5000'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 4
  memory_mb = 1024
